
<h1>
    Edit tip:
</h1>

<form method="post" action="/quizzes/<%= quiz.id %>?_method=PUT" >

    <div class="wideRow">
        <label for="preg"  class="itemNarrow">Tip para editar</label>
        <input type="text" class="itemWide" id="text"
               name="text" value="<%= tip.text %>"
               placeholder="Escribe..." autocomplete="off"/>
    </div>


    <br/>
    <a href="/goback"><button type="button">Edit</button></a>

    <input type="submit" value="Save">

</form>
